@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<OrderHeader>
@{
    ViewData["Title"] = "Orders";
}

<section>
    <!-- TODO: Add Searchable for Header by OrderHeader, OrderType, CreateDate Filter-->
    <section class="d-flex w-100 align-items-start mb-5">
        <partial name="OrderHeaderSearchPartial" />
        @if (SignInManager.IsSignedIn(User)) {
            <div class="mx-auto"></div>
            <a class="btn btn-success" asp-area="" asp-controller="OrderHeaders" asp-action="Create" title="Create">Create Order</a>
        }
    </section>

    <section>
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order Type</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <th scope="row">@order.OrderNumber</th>
                            <td>@order.OrderType</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.CustomerName</td>
                            <td>@order.OrderCreated.ToString()</td>
                            <td>
                                <a asp-action="Order" asp-route-id="@order.Id" class="btn" title="View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                    </svg>
                                </a>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="OrderHeaders" asp-action="Edit" title="Edit" asp-route-id="@order.Id" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteOrderHeaderModal-@order.Id" class="btn" title="Delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else {
            <p class="text-center fw-bolder fs-4 mt-5">Unfortunately there are no Orders at the current moment.</p>
        }
    </section>
</section>

@if (Model.Count > 0)
{
    foreach (var order in Model)
    {
        <partial name="_DeleteOrderHeaderPartial" model="@ModelHelpers.GetEditOrderHeader(order)" />
    }
}